@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

* {
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width : 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    background                 : url("yvEM0Q.jpg");
    background-size            : cover;
    background-repeat          : no-repeat;
    background-position        : center;
    color                      : rgb(255, 255, 255);
}

#navbar{
    height: 10%;
    width: 100%;
    position: fixed;
    background-color:white ;
}

#sidebar{
    height: 100%;
    width: 10%;
    position: fixed;
    background-color:white ;
}
